@use "./variables.scss" as *;

header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;

    .container {
        height: 120px;
        z-index: 1;
        display: flex;
        justify-content: space-between;

        .sezione-logo {
            padding: 0.5em 0em;
            width: 20%;
        }

        nav {
            width: 80%;

            ul {
                width: 100%;
                list-style: none;
                height: 100%;
                line-height: 100%;
                display: flex;
                align-items: center;

                li {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        color: $primary-color;
                        font-weight: 900;
                        text-transform: uppercase;
                    }

                    &.active a,
                    &:hover a {
                        color: $active-color;
                    }

                    &.active,
                    &:hover {
                        border-bottom: 2px solid $active-color;
                    }
                }
            }
        }
    }
}